html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  
}

body {
    background: linear-gradient(20deg, #44519d 50%, #e94349 100%) content-box repeat;


}
.navbar{
background-color: #ffffff;
padding-bottom: 3rem;
}

.bg-app {
    position: relative;
  
}

.bg-survey {
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 20%;
    -webkit-border-radius: 50px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 50px;
    -moz-border-radius-topright: 0;
    border-radius: 50px;
    border-top-right-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
}

.panel-body {
    padding: 0 !important;
}

.title-app {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.btn-pdf {
    margin-top: 25%;
   
    
}

.btn {
    -webkit-border-radius: 50px!important;
    -webkit-border-bottom-left-radius: 0!important;
    -moz-border-radius: 50px!important;
    -moz-border-radius-bottomleft: 0!important;
    border-radius: 50px!important;
    border-bottom-left-radius: 0!important;
    font-size: 2rem !important;
    padding-top: 5%!important;
    padding-bottom: 5%!important;
    padding-left: 3%!important;
    padding-right: 3%!important;
    background-color: #44519d;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#sq_100_ariaTitle, #sq_101_ariaTitle, #sq_102_ariaTitle, #sq_103_ariaTitle, #sq_104_ariaTitle,
#sq_105_ariaTitle, #sq_106_ariaTitle, #sq_107_ariaTitle, #sq_108_ariaTitle, #sq_109_ariaTitle{
    font-size: 2.5rem;
}
fieldset{
    font-size: 2.5rem;
    padding: 5rem;
}
.form-control{
    height: 50px!important;
}
.panel-footer {

    background-color: transparent !important;
    border: none !important;
}

input::placeholder{
    font-size: 20px;
}

@media (min-width: 768px){
.navbar {
    border-radius: 0!important;
}}